body {
  margin: 0;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: stretch;
}


.containerOne {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  display: flex;

}
.boton1 {
  display: flex;
  border: solid black;
  align-items: center;
  justify-content: center;
  font-size: medium;
  margin-bottom: 30px;
}
.boton2 {
  display: flex;
  border: solid black;
  align-items: center;
  justify-content: center;
  font-size: medium;
  margin-bottom: 30px;
}
button {
  width: 50%;
  height: 100px;
  font-weight: bold;
  font-size: large;

}
h1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  margin: 0;
  font-family: Arial, serif;

}

h2 {
  display: flex;
  justify-content: center;
  font-size: medium;
  margin-bottom: 30px;

}


